<!-- app/views/tasks/index.html.erb -->
<h1>Tasks</h1>
<div>
  <%= form_with(model: @new_task, url: tasks_path, method: :post, class: "needs-validation", novalidate: true) do |form| %>
    <div class="form-group">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control", required: true %>
      <div class="invalid-feedback">
        Please provide a title.
      </div>
    </div>
    <div class="form-group">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control", required: true %>
      <div class="invalid-feedback">
        Please provide a description.
      </div>
    </div>
    <div class="form-group">
      <%= form.label :status, class: "form-label" %>
      <%= form.select :status, options_for_select(@statuses, @selected_status), { prompt: "Select Status" }, class: "form-control" %>
      <div class="invalid-feedback">
        Please select a status.
      </div>
    </div>
    <div class="form-group">
      <%= form.submit "Create Task", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


<div>
  <h2>Task List</h2>
  <%= form_with(url: tasks_path, method: :get) do %>
    <%= select_tag(:status, options_for_select(@statuses, @selected_status), onchange: 'this.form.submit();') %>
  <% end %>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.status %></td>
          <td>
            <%= link_to 'Edit', edit_task_path(task) %> |
            <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--   <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->
</div>


